<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<title>szija</title>
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
	<div id="wrapper">
		<header>
			<h1>LEVENTE PÁL SZÍJÁRTÓ</h1>
			<p id="bio">I translate (🇬🇧/🇭🇺), I code, I modify.<br>
			See my content on <a href="https://github.com/smileyhead">GitHub</a>. You may contact me on <a href="https://crowdin.com/profile/szijartoleventepal">Crowdin</a>, <a href="https://bsky.app/profile/smileyhead.bsky.social">Bluesky</a>, <a href="https://discord.com/channels/@me/164119349836120074/">Discord</a>, or by <a href="szijartoleventepal@gmail.com">e-mail</a>.</p>
			
			<nav>
				<p id="nav"><span class="nav-active hor-list">▶ <b>Project listing</b></span> <span class="hor-list">▶ <a href="links/"><b>Links</b></a></span><span class="langselect">▶ <a href="https://github.com/smileyhead"><b>magyar</b></a></span></p>
			<nav>
		</header>
		
		<main>
			<p>These are all the (public) projects I have made over the years, ordered from most to least recent.<br>You may click images to enlarge them.</p>
			<div>
				<!-- Filters list -->
				<b class="hor-list">Filter:</b>
				<input type="checkbox" id="filter-loc" checked />
				<label for="filter-loc" class="hor-list">Localisations</label><input type="checkbox" id="filter-cod" checked />
				<label for="filter-cod" class="hor-list">Coding projects</label>
				<input type="checkbox" id="filter-mod" checked />
				<label for="filter-mod" class="hor-list">Mods</label>
				<input type="checkbox" id="filter-oth" checked />
				<label for="filter-oth" class="hor-list">Others</label>
				
				<!-- Projects list -->
				<div class="proj proj-loc">
					<div class="proj-header">
						<aside>localisation, <time datetime="2024-10">Oct 2024</time>–</aside><span class="proj-title">Bluesky</span> <span class="proj-id">SZLP-0000</span>
					</div>
					<div class="proj-body">
						<aside><a href="images/bsky.jpg" target="_blank"><img class="proj-img" src="images/bsky.jpg" alt=""></a></aside>
						<p class="body-text">I was the original contributor (and now lead translator) to write a translation for Bluesky, which I am keeping up to date.</p>
						<a href="example.com" target="_blank" class="button button-emph">▶ Website</a> <a href="example.com" target="_blank"  class="button">▶ GitHub repo</a>
					</div>
				</div>
				
				<div class="proj proj-mod">
					<div class="proj-header">
						<aside>mod, <time datetime="2024-07">Jul 2024</time>–</aside><span class="proj-title">Hungarian Localisation Extended mod for Deep Rock Galactic</span> <span class="proj-id">SZLP-0000</span>
					</div>
					<div class="proj-body">
						<aside><a href="images/drg-hun-ext.jpg" target="_blank"><img class="proj-img" src="images/drg-hun-ext.jpg" alt=""></a></aside>
						<p class="body-text">This is a mod I made to compliment the official Deep Rock Galactic localisation. It translates in-game textures that have text in them and provides font fixes for unsupported characters.</p>
						<a href="example.com" target="_blank" class="button button-emph">▶ mod.io page</a> <a href="example.com" target="_blank"  class="button">▶ GitHub repo</a>
					</div>
				</div>
				
				<div class="nofilters">
					<p>* But nobody came.</p>
				</div>
			</div>
		</main>
		
		<footer>
			<p id="footer">This is a footer. It is very scary.<br>
			Last updated: 2025. 07. 16.</p>
		</footer>
	<div>
</body>


</html>