#wrapper {
	max-width: 640px;
	margin: 0 auto 0;
	text-align: left;
}

body {
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	border-top-style: solid;
	border-top-color: #335e4f;
	border-top-width: 0.8em;
	padding-top: 0.1em;
	margin-bottom: 0;
}

h2 {
	font-size: 19px;
	margin-bottom: 0;
}

#bio {
	margin-top: -0.1em;
}

p {
	font-size: 14px;
	margin-top: 0;
}

a {
	color: #335e4f;
}

#nav {
	padding-bottom: 4px;
}

*.hor-list {
	margin-right: 1em;
	font-size: 14px;
	white-space: nowrap;
	text-wrap: nowrap;
}

*.nav-active {
	color: grey;
}

*.langselect {
	float: right;
}

header {
	background: url(images/dot.gif) left bottom repeat-x;
}

input[type=checkbox] {
	accent-color: #335e4f;
}

#filter-loc:not(:checked) ~ .proj-loc{
	display: none;
}

#filter-cod:not(:checked) ~ .proj-cod{
	display: none;
}

#filter-mod:not(:checked) ~ .proj-mod{
	display: none;
}

#filter-oth:not(:checked) ~ .proj-oth{
	display: none;
}

*.nofilters {
	display: none;
	font-family: monospace;
	color: white;
	background-color: black;
	padding: 8px;
}

*.nofilters.p {
	margin: 0;
}

#filter-loc:not(:checked) ~ #filter-cod:not(:checked) ~ #filter-mod:not(:checked) ~ #filter-oth:not(:checked) ~ .nofilters {
	display: block;
}

*.proj {
	padding-top: 14px;
}

*.proj-header {
	color: white;
	font-size: 14px;
	background-color: #335e4f;
	padding: 2px 8px;
}

*.proj-title {
	font-weight: 700;
	font-size: 16px;
}

*.proj-id {
	font-style: italic;
	font-size: 12px;
	text-wrap: nowrap;
}

aside {
	float: right;
	margin-left: 8px;
}

*.proj-body {
	background-color: #f0f0f0;
	padding: 2px 8px 6px 8px;
}

*.body-text {
	margin-bottom: 20px;
}

*.proj-body::after { /* Fix floating image overflow */
	content: "";
	clear: both;
	display: table;
}

*.proj-img {
	width: 100%;
	max-width: 176px;
	margin-top: 4px;
	/* 2px (from proj-body) + 4px = 6px; this aligns with the text visually */
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
}

*.button {
	color: #335e4f;
	font-size: 14px;
	text-decoration: none;
	background-color: white;
	border-color: #335e4f;
	border-width: 1px;
	border-style: solid;
	padding-top: 16px;
	margin-right: 1em;
	padding: 0 4px;
	font-weight: bold;
	text-wrap: nowrap;
}

*.button-emph, *.button:hover {
	color: white !important;
	font-size: 14px;
	text-decoration: none;
	background-color: #335e4f;
	text-wrap: nowrap;
}

*.button-emph:hover {
	color: #335e4f !important;
	font-size: 14px;
	text-decoration: none;
	background-color: white;
	text-wrap: nowrap;
}

*.yes8831 {
	height: 31px;
	max-height: 100%;
}

*.no8831 {
	margin-bottom: 0;
}

footer {
	background: url(images/dot.gif) left top repeat-x;
	height: 22px;
	margin-top: 14px;
}

#footer {
	padding-top: 4px;
}