<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<title>szija</title>
	<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>

<body>
	<div id="wrapper">
		<header>
			<h1>LEVENTE PÁL SZÍJÁRTÓ</h1>
			<p id="bio">I translate (🇬🇧/🇭🇺), I code, I modify.<br>
			See my content on <a href="https://github.com/smileyhead">GitHub</a>. You may contact me on <a href="https://crowdin.com/profile/szijartoleventepal">Crowdin</a>, <a href="https://bsky.app/profile/smileyhead.bsky.social">Bluesky</a>, <a href="https://discord.com/channels/@me/164119349836120074/">Discord</a>, or by <a href="szijartoleventepal@gmail.com">e-mail</a>.</p>
			
			<nav>
				<p id="nav"><span class="hor-list">▶ <b>Project listing</b> <i>(x kB)</i></span> <span class="hor-list">▶ <b>Links</b> <i>(x kB)</i></span><span class="langselect">▶ <b>magyar</b></span></p>
			<nav>
		</header>
		
		<main>
			<p>Here, I link people and projects I think are cool.</p>
			<!-- 88x31 -->
			<h2>Those with 88x31 buttons</h2>
			<p>Buttons larger than 31 pixels tall have been constrained to fit this size, for uniformity. Sorry!</p>
			<a href="example.com" target="_blank"><img class="yes8831" src="https://web-japan.org/images/ico_webjapan05.jpg" alt="image"></a>
			
			<!-- Non-88x31 -->
			<h2>Those without</h2>
			<p class="no8831"><a href="https://andrew.hedges.name/" target="_blank">https://andrew.hedges.name/</a></p>
			<p class="no8831"><a href="https://andrew.hedges.name/" target="_blank">https://andrew.hedges.name/</a></p>
			
			<!-- Own -->
			<h2>My button</h2>
			<aside><img class="yes8831" src="own/ico_szija.gif" alt="szija icon"></aside>
			<p>You may include my button on your page without asking, but feel free to contact me if you also host a project I may be interested in linking.<br>The button may be resized to fit your website's layout.</p>
		</main>
		
		<footer>
			<p id="footer">This is a footer. It is very scary.<br>
			Last updated: 2025. 07. 16.</p>
		</footer>
	<div>
</body>


</html>